.header{
    width: 100%;
    display:flex;
    border: 1px solid grey;
    background-color: aliceblue;
}
.parte-izquierda{
    width: 35%;
    display: flex;
}
.logo1{
    margin-right: 10px;
    font-family: Arial;
}

.logo2{
    color: blue;
    font-family: Arial;
}

.parte-central{
    width: 35%;
  display: inherit;
}

.parte-derecha{
    width: 30%;
}